#cards li {
	padding: 20px 24px;
	border-bottom: 1px solid #ddd;
}


/* controls: checkbox & delete button */
.controls {
	float: left;
	height: 100%;
	width: 33px;
	padding-right: 12px;
}

.bigcheck + label:after {
	top: 1px;
}

#cards .delete {
	/* position and box model */
	padding: 0;
	height: 16px;
	width: 16px;
	line-height: 16px;
	border: 0;
	margin-right: 8px;
	margin-top: 8px;

	/* style */
	background: #444;
	box-shadow: none;
	text-shadow: none;
	color: white;
}


/* card title */
.card-title {
	margin: 0 0 12px;
}


/* card tags */
.card-header {
	margin-left: -5px;
}

#cards .tag {
	background-color: #66cc55;
	font-size: 12px;
	padding: 1px 6px;
	border-radius: 4px;
	vertical-align: top;
	color: #666;
	margin-left: -5px;
}