#cards li {
	padding: 20px 24px;
	border-bottom: 1px solid #ddd;
}


/* controls: checkbox & delete button */
.bigcheck + label {
	margin-right: 12px;
	float: left;
}

#cards .delete {
	/* position and box model */
	padding: 0;
	height: 16px;
	width: 16px;
	line-height: 16px;
	border: 0;
	margin-right: 8px;
	/* margin-top: 8px; */

	/* style */
	background: #444;
	box-shadow: none;
	text-shadow: none;
	color: white;
	display: inline-block;
}


/* card title */
.card-title {
	margin: 0 0 12px;
}


/* card tags */
#cards .tag {
	background-color: #66cc55;
	font-size: 12px;
	padding: 1px 6px;
	border-radius: 4px;
	vertical-align: top;
	color: #666;
	display: inline-block;
}